
/*
Keith Andrews: extra CSS for my rslidy slides
*/

#rslidy-content-section .slide {
  font-size: 1.5rem;
  padding: 2rem 3rem 2rem 3rem;
}



span.li-intro {
  font-style: italic;
/*  font-weight: bold; */
}



ul.credits {
  font-size: 0.8em;
}


div#location {
  margin-top: 2em;
  text-align: right;
}

div#location p {
  display: inline;
  background-color: #eee;
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 60%;
}


span.isbn:before {
  content: "ISBN";
  font-size: 80%;
}



/* title slide has larger and centered text*/


.rslidy-titleslide
{
  text-align: center;
}

.rslidy-titleslide h1
{
  padding-top: 0.5em;
  font-size: 1.6em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h2
{
  font-size: 1.2em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h3
{
  font-size: 1em;
  margin-bottom: 1.2em;
}

.rslidy-titleslide p
{
  padding: 0.5em 0;
}






/* figures */


figure {
  margin: 1em auto;
}

div.images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em 1em;  /* currently only firefox */
}

div.images img {
  max-width: 100%;
  max-height: 16em;
  width: auto;
/*  object-fit: contain; */
}


figcaption {
  margin: 1em 0;
  font-size: 60%;
  text-align: center;
}

figcaption span.fig-label {
  font-weight: bold;
}

figcaption span.credit {
  font-size: 80%;
}

figcaption span.credit:before {
  content: "[";
}

figcaption span.credit:after {
  content: "]";
}




/* code snippets */

code.block {
  display: inline-block;
  width: 100%;
  margin-left: 1em;
  margin-bottom: 1em;
}




/* notes */

p.note {
  font-size: 80%;
}

p.note:before {
  content: "[" ;
}

p.note:after {
  content: "]" ;
}





/* tables */

th.left {
  text-align: left;
}

th.right {
  text-align: right;
}

th.center {
  text-align: center;
}

th.numeric {
  text-align: right;
}



td.left {
  text-align: right;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

td.numeric {
  text-align: right;
}


/*
To align table cells right or center
<table class="tr2 tc3 tr7">
*/

.col1r td:nth-child(1), .col1r th:nth-child(1),
.col2r td:nth-child(2), .col2r th:nth-child(2),
.col3r td:nth-child(3), .col3r th:nth-child(3),
.col4r td:nth-child(4), .col4r th:nth-child(4),
.col5r td:nth-child(5), .col5r th:nth-child(5),
.col6r td:nth-child(6), .col65 th:nth-child(6),
.col7r td:nth-child(7), .col7r th:nth-child(7),
.col8r td:nth-child(8), .col8r th:nth-child(8),
.col9r td:nth-child(9), .col9r th:nth-child(9),
.col10r td:nth-child(10), .col10r th:nth-child(10),
.col11r td:nth-child(11), .col11r th:nth-child(11),
.col12r td:nth-child(12), .col12r th:nth-child(12) { text-align:right }

.col1c td:nth-child(1), .col1c th:nth-child(1),
.col2c td:nth-child(2), .col2c th:nth-child(2),
.col3c td:nth-child(3), .col3c th:nth-child(3),
.col4c td:nth-child(4), .col4c th:nth-child(4),
.col5c td:nth-child(5), .col5c th:nth-child(5),
.col6c td:nth-child(6), .col6c th:nth-child(6),
.col7c td:nth-child(7), .col7c th:nth-child(7),
.col8c td:nth-child(8), .col8c th:nth-child(8),
.col9c td:nth-child(9), .col9c th:nth-child(9),
.col10c td:nth-child(10), .col10c th:nth-child(10),
.col11c td:nth-child(11), .col11c th:nth-child(11),
.col12c td:nth-child(12), .col12c th:nth-child(12) { text-align:center }


