/* Set the default font color and padding for slides */

.slide {
  color: #333333;
}

/* Styles for other slides */

.slide:not(.rslidy-titleslide) {
  /* disable background image for testing */
  /* background: url("images/tu-graz-logo.svg") 95% 4%/auto 2em no-repeat;*/
}

.slide:not(.rslidy-titleslide) h1 {
  padding-right: 3.4em;
}

/* Footer */

.slide:not(.rslidy-titleslide) {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  font-size: 50%;
  text-align: right;
}


