/* Set the default font color and padding for slides */

.slide {
  color: #333333;
}

/* Styles for other slides */

.slide:not(.titleslide) {
  background: url("images/tugraz-logo.svg") 95% 4%/auto 2em no-repeat;
}

.slide:not(.titleslide) h1 {
  padding-right: 3.4em;
}

/* Footer */

.slide:not(.titleslide) {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  font-size: 50%;
  text-align: right;
}

div.copyright {
  margin-top: auto;
  text-align: right;
}

div.copyright p {
  display: inline-block;
  background-color: #eee;
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 50%;
  max-width: 35%;
}

