
.column {
    float: left;
    width: 45%;
    padding: 0.5em;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#center-div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media print {
    #vorotree canvas {
        display: block; /* Prevent any inline element behavior */
        position: relative !important;
        max-width: 100% !important;
        height: auto !important;
    }
}

#center-div canvas {
    max-width: 100% !important;
}