<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta charset="UTF-8"/>

<!-- for css3 media queries to work properly on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>Rslidy Layouts</title>

<link rel="stylesheet" href="rslidy.min.css"/>
<script type="module" src="rslidy.min.js"></script>

<!-- for custom css sheets-->
<link rel="stylesheet" href="lauyout-slides.css"/>
</head>
<body>





<section class="titleslide">
<h1>Rslidy Layouts</h1>
<h2>Titleslide</h2>
<h4>Graz University of Technology, Austria</h4>


<div id="licence">
<p>
© Copyright 2024 by the author(s), except as otherwise noted.<br/>
This work is placed under a Creative Commons Attribution 4.0 International
(<a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>) licence.
</p>
</div>
</section>





<section>
<h1>Simple Bullet Points</h1>
<ul>
  <li>Exmaple Bullet Point 1</li>
  <li>Exmaple Bullet Point 2</li>
  <li>Exmaple Bullet Point 3</li>
  <li>Exmaple Bullet Point 4</li>
  <li>Exmaple Bullet Point 5</li>
</ul>
</section>






<section>
<h2>Single Image Layout</h2>

<figure>
<div class="rslidy-large-images">
<img src="images/image_viewer_example_slide.png"
     alt="Rslidy Image Viewer"/>
</div>
<figcaption>
The image viewer is automatically attached to every image.<br/>
Pan and zoom via mouse, keyboard, or on-screen controls.<br/>
<span class="credit">Screen capture taken from Rslidy.</span>
</figcaption>
</figure>
</section>















<section>
  <h2>Single Video Layout</h2>
  <figure>
  <div class="rslidy-large-images">
  <video controls autoplay muted loop poster="images/all-slides.gif">
  <source src="images/image-viewer.mp4" type="video/mp4"/>
  <img src="images/image-viewer.gif"
       alt="An animation shows the all slides view, in which all slides are stacked vertically, generating a single scrollable HTML page." />
  </video>
  </div>
  <figcaption>
  Showing the image viewer as an mp4 video.<br/>
  <span class="credit">Screen capture taken from Rslidy.</span>
  </figcaption>
  </figure>
</section>










<section>
  <h1>Two-Columns Bullet Points</h1>
  <div class="rslidy-columns-even">
  <div class="rslidy-left-column">
  <ul>
    <li>Example Bullet Point 1</li>
    <li>Example Bullet Point 2</li>
    <li>Example Bullet Point 3</li>
    <li>Example Bullet Point 4</li>
    <li>Example Bullet Point 5</li>
  </ul>
  </div>
  <div class="rslidy-right-column">
  <ul>
    <li>Example Bullet Point 1</li>
    <li>Example Bullet Point 2</li>
    <li>Example Bullet Point 3</li>
    <li>Example Bullet Point 4</li>
    <li>Example Bullet Point 5</li>
  </ul>
  </div>
  </div>
</section>








<section>
<h1>Bullet Points Left - Image Right</h1>
<div class="rslidy-columns-even">
  <div class="rslidy-left-column">
  <ul>
    <li>Example Bullet Point 1</li>
    <li>Example Bullet Point 2</li>
    <li>Example Bullet Point 3</li>
    <li>Example Bullet Point 4</li>
    <li>Example Bullet Point 5</li>
  </ul>
  </div>
  <div class="rslidy-right-column">
  <figure>
  <div class="images">
  <img src="images/rslidy_example_slide.png"
       alt=" example slidePrezi: Example Slide"
       style="max-height:20em; border: 1px solid #D3D3D3;" />
  </div>
  <figcaption>Rslidy: Example slide.</figcaption>
  </figure>
  </div>
</div>
</section>









<section>
  <h1>Responsive Table with Filtering: Smartphone Features Comparison (2025)</h1>
  <table class="rslidy-responsive-table">
    <thead>
    <tr>
      <th scope="col">Smartphone</th>
      <th scope="col">Operating System</th>
      <th scope="col">Display Size (inch)</th>
      <th scope="col">Battery (mAh)</th>
      <th scope="col">RAM (GB)</th>
      <th scope="col">Storage (GB)</th>
      <th scope="col">Price (USD)</th>
      <th scope="col">Release Date</th>
      <th scope="col">Camera Resolution (MP)</th>
      <th scope="col">Weight (g)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text">
      <td class="text">Samsung Galaxy</td>
      <td>Android</td>
      <td>6.8</td>
      <td>5000</td>
      <td>12</td>
      <td>512</td>
      <td>1199</td>
      <td>2025-03-15</td>
      <td>200</td>
      <td>230</td>
    </tr>
    <tr class="text">
      <td class="text">iPhone</td>
      <td>iOS</td>
      <td>6.7</td>
      <td>4500</td>
      <td>8</td>
      <td>512</td>
      <td>1399</td>
      <td>2025-09-22</td>
      <td>120</td>
      <td>240</td>
    </tr>
    <tr class="text">
      <td class="text">Xiaomi</td>
      <td>Android</td>
      <td>6.7</td>
      <td>4800</td>
      <td>12</td>
      <td>256</td>
      <td>899</td>
      <td>2025-02-28</td>
      <td>200</td>
      <td>221</td>
    </tr>
    <tr class="text">
      <td class="text">Oppo Find</td>
      <td>Android</td>
      <td>6.7</td>
      <td>4600</td>
      <td>12</td>
      <td>256</td>
      <td>999</td>
      <td>2025-05-10</td>
      <td>150</td>
      <td>225</td>
    </tr>
    <tr class="text">
      <td class="text">Vivo</td>
      <td>Android</td>
      <td>6.8</td>
      <td>4700</td>
      <td>12</td>
      <td>512</td>
      <td>849</td>
      <td>2025-07-05</td>
      <td>108</td>
      <td>223</td>
    </tr>
    <tr class="text">
      <td class="text">Realme</td>
      <td>Android</td>
      <td>6.7</td>
      <td>4500</td>
      <td>12</td>
      <td>256</td>
      <td>749</td>
      <td>2025-04-18</td>
      <td>100</td>
      <td>220</td>
    </tr>
    <tr class="text">
      <td class="text">Huawei</td>
      <td>HarmonyOS</td>
      <td>6.8</td>
      <td>5000</td>
      <td>12</td>
      <td>512</td>
      <td>1099</td>
      <td>2025-06-01</td>
      <td>200</td>
      <td>240</td>
    </tr>
    <tr class="text">
      <td class="text">Motorola</td>
      <td>Android</td>
      <td>6.5</td>
      <td>4400</td>
      <td>8</td>
      <td>256</td>
      <td>699</td>
      <td>2025-08-12</td>
      <td>40</td>
      <td>210</td>
    </tr>
    <tr class="text">
      <td class="text">Google Pixel</td>
      <td>Android</td>
      <td>6.4</td>
      <td>4350</td>
      <td>8</td>
      <td>256</td>
      <td>799</td>
      <td>2025-01-30</td>
      <td>50</td>
      <td>50</td>
    </tr>
    </tbody>
  </table>
</section>










<section>
  <h1>Responsive Table without Filtering</h1>
  <table class="rslidy-responsive-table rslidy-disable-sorting">
    <thead>
    <tr>
      <th scope="col">Feature</th>
      <th scope="col">Shower</th>
      <th scope="col">Reveal.js</th>
      <th scope="col">Deck.js</th>
      <th scope="col">impress.js</th>
      <th scope="col">Bespoke.js</th>
      <th scope="col">Inspire.js</th>
    </tr>
    </thead>
    <tbody>
    <tr class="symbol">
      <td class="text">Collaborative</td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">SVG Inclusion</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Globally Change Bullet Spacing</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Change Bullet Indentation</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Export as PDF</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Export as HTML</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Export as PowerPoint</td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Slide numbering</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Live Code Integration</td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Open-source</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="text">
      <td>Licence</td>
      <td>MIT</td>
      <td>MIT</td>
      <td>MIT</td>
      <td>MIT</td>
      <td>MIT</td>
      <td>MIT</td>
    </tr>
    <tr class="numeric">
      <td class="text">First Release</td>
      <td>2010-10-25</td>
      <td>2011-06-07</td>
      <td>2011-06-24</td>
      <td>2011-12-28</td>
      <td>2012-12-13</td>
      <td>2018-09</td>
    </tr>
    <tr class="numeric">
      <td class="text">Last Update</td>
      <td>2024-10-25</td>
      <td>2024-05-15</td>
      <td>2016-05-04</td>
      <td>2024-04-26</td>
      <td>2020-09-08</td>
      <td>2024-06-27</td>
    </tr>
    <tr class="numeric">
      <td class="text">Popularity (GitHub stars)</td>
      <td>4,800</td>
      <td>67,400</td>
      <td>5,400</td>
      <td>37,600</td>
      <td>4,700</td>
      <td>1,700</td>
    </tr>
    <tr class="symbol">
      <td class="text">Swipe Navigation</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Margin Navigation</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Figure Zooming and Panning</td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-cross">&#10008;</span></td>
    </tr>
    <tr class="symbol">
      <td class="text">Presenter mode</td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
      <td><span class="table-tick">&#10004;</span></td>
    </tr>
    </tbody>
  </table>
</section>





</body>
</html>
