@property --large {
  syntax: "<length>";
  inherits: false;
  initial-value: 44rem;
}

@property --medium {
  syntax: "<length>";
  inherits: false;
  initial-value: 40rem;
}

@property --small {
  syntax: "<length>";
  inherits: false;
  initial-value: 36rem;
}

@property --tiny {
  syntax: "<length>";
  inherits: false;
  initial-value: 32rem;
}

@property --mini {
  syntax: "<length>";
  inherits: false;
  initial-value: 28rem;
}

@property --nano {
  syntax: "<length>";
  inherits: false;
  initial-value: 24rem;
}

@property --pico {
  syntax: "<length>";
  inherits: false;
  initial-value: 20rem;
}

@property --overview-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 18rem;
}

@property --overview-width-small-screen {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --slide-input-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 2.60em;
}

@property --toolbar-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #e1e7ea;
}

@property --toolbar-button-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #e1e7ea;
}

@property --toolbar-button-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #4b4b4b;
}

@property --button-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #848484;
}

@property --button-hover-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #c1c7ca;
}

@property --button-active-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --button-disabled-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #aaa;
}

@property --progressbar-bg-color-reached {
  syntax: "<color>";
  inherits: true;
  initial-value: #003399;
}

@property --progressbar-bg-color-unreached {
  syntax: "<color>";
  inherits: true;
  initial-value: #4d88ff;
}

@property --toolbar-height {
  syntax: "<length>";
  inherits: false;
  initial-value: 3.20em;
}

@property --progressbar-height {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.50em;
}

@property --slider-fill-off {
  syntax: "<color>";
  inherits: true;
  initial-value: #ececec;
}

@property --slider-stroke-off {
  syntax: "<color>";
  inherits: true;
  initial-value: #bdbdbd;
}

@property --slider-fill-on {
  syntax: "<color>";
  inherits: true;
  initial-value: #3498db;
}

@property --slider-stroke-on {
  syntax: "<color>";
  inherits: true;
  initial-value: #85c1e9;
}

/* Global custom property definitions */
:root {
  --large: 44rem;
  --medium: 40rem;
  --small: 36rem;
  --tiny: 32rem;
  --mini: 28rem;
  --nano: 24rem;
  --pico: 20rem;

  /* shared */
  --overview-width: 18rem;
  --overview-width-small-screen: 50%;
  --slide-input-width: 2.60em;

  /* toolbar */
  --toolbar-bg-color: #e1e7ea;
  --toolbar-button-bg-color: #e1e7ea;
  --toolbar-button-color: #4b4b4b;
  --button-border-color: #848484;
  --button-hover-color: #c1c7ca;
  --button-active-color: #fff;
  --button-disabled-color: #aaa;
  --progressbar-bg-color-reached: #003399;
  --progressbar-bg-color-unreached: #4d88ff;
  --toolbar-height: 3.20em;
  --progressbar-height: 0.50em;

  /* settings */
  --slider-fill-off: #ececec;
  --slider-stroke-off: #bdbdbd;
  --slider-fill-on: #3498db;
  --slider-stroke-on: #85c1e9;
}
