.rslidy-overview {
  width: var(--overview-width);
  height: 100%;
  position: fixed;
  flex: 0 0 auto;
  z-index: 4;
  list-style: none;
  background-color: #f1f1f1;
  display: block;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  transition: 0.3s;
}

.rslidy-overview-visible {
  position: relative;
  transform: translateX(0) !important;
}

#rslidy-overview-slides {
  left: 0;
  transform: translateX(-100%);
}

#rslidy-overview-toc {
  right: 0;
  transform: translateX(100%);
}

/* Items inside the canvas container (e.g. presentation slides) */
.rslidy-overview-item, .rslidy-overview-item-pv {
  z-index: -1;
  display: block;
  overflow: hidden;
  background-color: white;
  filter: brightness(0.9);
}

.rslidy-slide-thumbnail, .rslidy-slide-thumbnail-pv {
  display: block;
  overflow: hidden;
}

.rslidy-slide-thumbnail:hover {
  filter: brightness(0.89);
  cursor: pointer;
}

.rslidy-slide-selected {
  filter: brightness(1.18);
  box-sizing: border-box;
  border: 0.15em solid lightskyblue;
}

.rslidy-slide-clickelement {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.rslidy-slide-link {
  z-index: 1;
  font-size: 0.8em;
  cursor: pointer;
  margin: 0.25em 0em;
  padding: 0.5em 1em;
  text-decoration: underline;
  color: blue;
}

.rslidy-slide-link a:visited {
  color: blue;
}

.rslidy-slide-link:hover {
  background-color: var(--button-hover-color);
}

.rslidy-thumbnail-caption {
  font-size: 0.7em;
  text-align: center;
  background-color: #c8c8c8;
  
  /* Separating border */
  border-bottom: 0.15em solid gray;
  border-top: 0.15em solid gray;
  padding-bottom: 0.15em;
  padding-top: 0.15em;
}