#rslidy-menu, #rslidy-print-menu {
  position: absolute;
  bottom: var(--progressbar-height) + var(--toolbar-height);
  right: 1em;
  background-color: var(--toolbar-bg-color);
  padding: 0.5em 0em;
  z-index: 5;
}

.rslidy-menu-content {
  text-align: right;
  margin-bottom: 0.15em;
  padding: 0.2em 1em;
  display: block;
}

label.rslidy-menu-content {
  cursor: pointer;
}

.rslidy-menu-button {
  width: 1.5em;
  height: 1.75em;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: inline-block;
  fill: var(--toolbar-button-color);
  stroke: var(--toolbar-button-color);
  cursor: pointer;
}

.rslidy-menu-button:hover, .rslidy-menu-content a:hover, [id^=rslidy-checkbox-]:not([aria-disabled="true"]):hover {
  background-color: var(--button-hover-color);
  border-radius: 0.15em;
}

.rslidy-icon {
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: inline-block;
  fill: var(--toolbar-button-color);
  stroke: var(--toolbar-button-color);
}

#rslidy-margin-input {
  width: 6em;
}

#rslidy-input-cols, #rslidy-input-rows {
  width: var(--slide-input-width);
}

#rslidy-button-print-submit {
  min-width: inherit;
  padding: 0.3em 0.7em;
  margin: 0 0.15em;
  background-color: var(--toolbar-button-bg-color);
  fill: var(--toolbar-button-color);
  stroke: var(--toolbar-button-color);
  cursor: pointer;
  border: 0.05em solid var(--button-border-color);
  border-radius: 0.15em;
  box-shadow: 0.15em 0.15em var(--button-border-color);
}

#rslidy-button-print-submit:hover {
  background-color: var(--button-hover-color);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 2em;
  height: 1em;
  margin-left: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  fill: var(--slider-fill-off);
  stroke: var(--slider-stroke-off);
  cursor: pointer;
}

#rslidy-checkbox-mode-text input[type="checkbox"] + label {
  fill: var(--slider-fill-on);
  stroke: var(--slider-stroke-on);
}

input[type="checkbox"]:checked + label {
  transform: scaleX(-1);
  fill: var(--slider-fill-on);
  stroke: var(--slider-stroke-on);
}

input[type="checkbox"]:disabled + label {
  cursor: default;
}

.rslidy-disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: default !important;
}

.rslidy-help-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.70);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
}

.rslidy-help-overlay:target {
  visibility: visible;
  opacity: 1;
}

#rslidy-help-popup {
  margin: 4em auto;
  padding: 1.5em;
  background: white;
  width: 80%;
  position: relative;
  max-height: 80%;
  overflow: auto;
}

.rslidy-help-close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.rslidy-help-close:hover {
  color: #666;
}