body {
  color: light-dark(black, white);
  background-color: light-dark(#f9f9f9, #121212);
  font-family: Verdana, sans-serif;
  /* allow words to be broken at hyphenation points */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

/* 
section elements are automatically assigned class slide by rslidy 
a slide is created by a section and/or div.slide 
*/

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.5em 1.5em 1.5em 1.5em;
  padding: 2.3rem;
  font-size: 1.5em; /* from first CSS */
}

.slide:not(.rslidy-titleslide) {
  display: flex;
  flex-direction: column;
}

/* turn hyphens off for code, tt, and kbd */
code, var, kbd, samp, listing, plaintext, xmp, abbr {
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

div.copyright {
  margin-top: auto;
}

div.copyright p {
  display: inline-block;
  background-color: #eee;
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 50%;
  max-width: 35%;
}

pre, code {
  white-space: pre-wrap;
}

em {
  font-style: italic;
}

img {
  border: none;
  background: white !important;
}

.figure-left {
  margin-left: 0;
  margin-top: 0;
}

/* figures */
figure {
  margin: 0 auto;
  display: table;
}

div.rslidy-images, div.rslidy-large-images {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 5em;
}

div.rslidy-images, div.rslidy-large-images {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
  min-width: 5em;
}

div.rslidy-images img, div.rslidy-images video {
  object-fit: contain; /* scale down does not work correctly on firefox */
  max-width: 100%;
  max-height: 15em;
  width: auto;
  min-height: 5em;

}

div.rslidy-large-images img, div.rslidy-large-images video {
  object-fit: contain; /* scale down does not work correctly on firefox */
  max-width: 100%;
  max-height: 25em;
  width: 100%;
  min-height: 8em;
  height: auto;
}

figcaption.center {
  margin: 1em 0;
  font-size: 60%;
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}

figcaption {
  text-align: left;
  padding-left: 2em;
  text-indent: -1.5em;
  margin: 1em 0 0 0;
  font-size: 60%;
  display: table-caption;
  caption-side: bottom;
}

figcaption span.fig-label {
  font-weight: bold;
}

figcaption span.credit {
  font-size: 80%;
}

figcaption span.credit:before {
  content: "[";
}

figcaption span.credit:after {
  content: "]";
}

div.credits {
  margin: 1em 0;
  font-size: 60%;
  text-align: center;
}

/* Footer, location, licence */
.footer {
  margin-top: auto;
  font-size: 50%;
  text-align: right;
}

div#location {
  margin-top: 2em;
  text-align: right;
}

div#location p {
  display: inline;
  background-color: light-dark(#eee, #2a2a2a);
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 60%;
}

span.li-intro {
  font-style: italic;
}

span.isbn:before {
  content: "ISBN";
  font-size: 80%;
}

div#rslidy-licence {
  margin: 5em 0 1em 0;
  text-align: center;
  line-height: 0.5em;
}

div#rslidy-licence p {
  display: inline;
  padding: 0;
  font-size: 0.5em;
}

/* title slide has larger and centered text */
.rslidy-titleslide {
  text-align: center;
}

.rslidy-titleslide h1 {
  padding-top: 0.5em;
  font-size: 2em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h2 {
  font-size: 1.6em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h3 {
  font-size: 1.4em;
  margin-bottom: 1.2em;
}

.rslidy-titleslide p {
  padding: 0.8em 0;
}

.rslidy-sectionslide {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rslidy-sectionslide h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 0;
}

/* columns */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns ul {
  margin: 0.5em;
}

/* columns spaced */
.columns-spaced {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.columns-spaced ul {
  margin: 0.5em;
}

/* Two columns spaced evenly */
.rslidy-columns-even {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
}

.rslidy-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}


.item-half {
  padding: 1em;
  width: 50%;
}

.item-auto {
  padding: 1em;
  width: auto;
}

/* Description is marked in gray */
.description {
  background-color: lightgray;
}

/* CSS Grid */
.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25em,1fr));
}

/* code snippets */
code.block {
  display: inline-block;
  margin-right: 100%;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* keys */
kbd.key {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

/* notes */
p.note {
  font-size: 80%;
  margin-top: -0.7em;
}

p.note:before {
  content: "[";
}

p.note:after {
  content: "]";
}

p {
  margin: 0 0 1em 0;
  padding: 0;
  max-width: 60ch;
  text-align: justify;
}

/* do not justify inside table cells */
td p {
  text-align: left;
}

/* indent first line of para 2..n in text passage */
div.textpassage p + p {
  text-indent: 1em;
}

blockquote {
  margin: 0 2em 1em 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-wrap: balance;
}

h1 {
  font-size: 1.4em;
  margin: 0 0 0.7em 0;
}

h2 {
  font-size: 1.2em;
  margin: 0 0 0.6em 0;
}

h3 {
  font-size: 1.1em;
  margin: 0 0 0.55em 0;
}

h4, h5, h6 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

/* lists */
ol {
  list-style: decimal;
  padding: 0 0 1em 1.5em;
}

ul {
  list-style: disc;
  padding: 0 0 1em 1.1em;
}

/* sub-bullet styles */
ul ul ol ol,
ul ol ul ol,
ol ul ol ol,
ol ol ul ol,
ol ul ol,
ol ol {
  list-style: lower-alpha;
}

ol ul ol ol,
ol ol ul ol,
ul ol ol ol,
ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: decimal;
}

ul ul,
ol ol ul ul,
ol ul ol ul,
ul ol ol ul,
ol ul ul,
ul ol ul {
  list-style: circle;
}

ol ul ul ul,
ul ol ul ul,
ul ul ol ul,
ul ul ul {
  list-style: square;
}

ul ul ul ul {
  list-style: disc;
}

/* nested list sizes */
ul ul,
ol ol,
ul ol,
ol ul {
  font-size: 0.8em;
  margin-top: 0.5em;
}

li {
  padding: 0;
  margin: 0 0 1em 0;
}

table {
  /* old version: margin: auto 1em auto; */
  caption-side: bottom;
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  empty-cells: show;
  line-break: loose;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

caption {
  margin: 0.8em auto;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

th {
  font-weight: bold;
  /*background-color: #ddd;*/
  padding: 0.5em;
  /*border-style: solid;*/
  border-width: thin;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.5ex;
  border-style: solid;
  border-width: thin;
  text-align: left;
  vertical-align: top;
}

/* Night mode customization */
:not(a) .rslidy-night-mode {
  color: white;
}

a.rslidy-night-mode {
  color: yellow;
}

/* Helpers */
.valign {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

@media print {
  .valign {
    transform: none !important;
    top: 0;
  }
}

