@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideinleft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideinright {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animated {
  transition: 1s;
}

.slide.animated.forwards.fade {
  animation: fade 0.50s normal cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.backwards.fade {
  animation: fade 0.50s reverse cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.forwards.slidein {
  animation: slideinright 0.50s normal cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.backwards.slidein {
  animation: slideinleft 0.50s reverse cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.forwards.slideout {
  animation: slideinleft 0.50s normal cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.backwards.slideout {
  animation: slideinright 0.50s reverse cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.forwards.zoom {
  animation: zoom 0.50s normal cubic-bezier(0.54, 0, 0.54, 1) forwards;
}

.slide.animated.backwards.zoom {
  animation: zoom 0.50s reverse cubic-bezier(0.54, 0, 0.54, 1) forwards;
}
