body {
  color: black;
  background-color: #f9f9f9;
  font-family: Verdana, sans-serif;
  /* allow words to be broken at hyphenation points */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

/*
section elements are automatically assigned class slide by rslidy
a slide is created by a section and/or div.slide
*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 2rem;
}

/* turn hyphens off for code, tt, and kbd */

code, var, kbd, samp, listing, plaintext, xmp, abbr {
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

pre, code {
  white-space: pre-wrap;
}

em {
  font-style: italic;
}

img {
  border: none;
  background: white !important;
}

figure {
  margin: 1em auto;
}

figcaption {
  margin: 1em 0;
  font-size: 60%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.40em;
  margin: 0 0 0.70em 0;
}

h2 {
  font-size: 1.20em;
  margin: 0 0 0.60em 0;
}

h3 {
  font-size: 1.10em;
  margin: 0 0 0.55em 0;
}

h4, h5, h6 {
  font-size: 1em;
  margin: 0 0 0.50em 0;
}

p {
  margin: 0 0 1em 0;
  text-align: justify;
}

/* do not justify inside table cells  */
td p {
  text-align: left;
}

/* indent first line of para 2..n in text passage */

div.textpassage p + p {
  text-indent: 1em;
}

blockquote {
  margin: 0 2em 1em 2em;
}

code, kbd, samp {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

/* lists */

ol {
  list-style: decimal;
  padding: 0 0 1em 1.50em;
}

ul {
  list-style: disc;
  padding: 0 0 1em 1.10em;
}

/* sub-bullet styles */

ul ul ol ol,
ul ol ul ol,
ol ul ol ol,
ol ol ul ol,
ol ul ol,
ol ol {
  list-style: lower-alpha;
}

ol ul ol ol,
ol ol ul ol,
ul ol ol ol,
ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: decimal;
}

ul ul,
ol ol ul ul,
ol ul ol ul,
ul ol ol ul,
ol ul ul,
ul ol ul {
  list-style: circle;
}

ol ul ul ul,
ul ol ul ul,
ul ul ol ul,
ul ul ul {
  list-style: square;
}

ul ul ul ul {
  list-style: disc;
}

/* nested list sizes */

ul ul,
ol ol,
ul ol,
ol ul {
  font-size: 0.80em;
  margin-top: 0.50em;
}

li {
  padding: 0;
  margin: 0 0 1em 0;
}

table {
  margin: 0 auto 1em auto;
  caption-side: bottom;
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  empty-cells: show;
  line-break: loose;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

th {
  font-weight: bold;
  background-color: #dddddd;
  padding: 0.50ex;
  border-style: solid;
  border-width: thin;
  text-align: left;
  vertical-align: top;
}

tr:nth-child(even) {
  background: #f8f8f8;
}
tr:nth-child(odd) {
  background: #ffffff;
}

td {
  padding: 0.50ex;
  border-style: solid;
  border-width: thin;
  text-align: left;
  vertical-align: top;
}

/*
-- Night mode customization
*/

//h1, h2, h3, p, li, ul, ol, pre
:not(a) .rslidy-night-mode {
  color: white; /* Text color */
}

a.rslidy-night-mode {
  color: yellow; /* Text color */
}
