/* Inspired by
   https://codepen.io/AllThingsSmitty/pen/MyqmdM
   https://codepen.io/andornagy/pen/EVXpbR
   https://css-tricks.com/accessible-simple-responsive-tables/ */

table {
  border: 0.01em solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
  caption-side: top;
}

table tr {
  background-color: #f8f8f8;
  border: 0.01em solid #ddd;
}

table tr:nth-of-type(even), table thead tr {
	background: #eee;
}

table th,
table td {
  padding: 0.625em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-align: center;
}

.tr1 td:nth-child(1),
.tr2 td:nth-child(2),
.tr3 td:nth-child(3),
.tr4 td:nth-child(4),
.tr5 td:nth-child(5),
.tr6 td:nth-child(6),
.tr7 td:nth-child(7),
.tr8 td:nth-child(8),
.tr9 td:nth-child(9) {
  text-align:right
}

.tc1 td:nth-child(1),
.tc2 td:nth-child(2),
.tc3 td:nth-child(3),
.tc4 td:nth-child(4),
.tc5 td:nth-child(5),
.tc6 td:nth-child(6),
.tc7 td:nth-child(7),
.tc8 td:nth-child(8),
.tc9 td:nth-child(9) {
  text-align:center
}

/*
This query will take effect for small screen sizes
*/
@media only all and (max-width: 46rem)  {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 0.04em solid black;
    display: block;
    font-size: 0.8em;
    text-align: right !important;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}