/* Increase the default font size */

#rslidy-content-section .slide {
  font-size: 2em;
}

/* Set the default font color and padding for slides */

.slide {
  color: #333333;
  padding: 2rem 4rem;
}

/* Styles for the Title slide */

.titleslide {
  background: url("images/background.png") no-repeat center, linear-gradient(white 0%, gray 100%);
  background-size: contain;
}

.titleslide h1 {
  font-size: 4rem;
  color: #f62546;
  margin-left: 4rem;
  margin-top: 10%;
}

.titleslide h2 {
  font-size: 3rem;
  margin-left: 4rem;
}

.titleslide h3 {
  font-size: 2.50rem;
  margin-left: 4rem;
}

/* Styles for other slides */

.slide:not(.titleslide) {
  background: url("images/tugraz-logo.svg") no-repeat 95% 4%;
}

.slide:not(.titleslide) h1 {
  padding-right: 3.4em;
}

/* Footer */

.slide:not(.titleslide) {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  font-size: 70%;
}