
/*
Keith Andrews: extra CSS for my rslidy slides
*/

#rslidy-content-section .slide {
  font-size: 1.6em;
}



span.li-intro {
/*  font-style: italic; */
  font-weight: bold;
}



ul.credits {
  font-size: 0.8em;
}


div#location {
  margin-top: 2em;
  text-align: right;
}

div#location p {
  display: inline;
  background-color: #eee;
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 60%;
}


span.isbn:before {
  content: "ISBN";
  font-size: 80%;
}



/* title slide has larger and centered text*/


.rslidy-titleslide
{
  text-align: center;
}

.rslidy-titleslide h1
{
  padding-top: 0.5em;
  font-size: 1.6em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h2
{
  font-size: 1.2em;
  margin-bottom: 1.4em;
}

.rslidy-titleslide h3
{
  font-size: 1em;
  margin-bottom: 1.2em;
}

.rslidy-titleslide p
{
  padding: 0.5em 0;
}






/* figures */


figure {
  margin: 1em auto;
}

div.rslidy-images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

div.rslidy-images img {
  max-width: 100%;
  max-height: 20em;
  width: auto;
  height: 20em;
}


figcaption span.fig-label {
  font-weight: bold;
}

figcaption span.credit {
  font-size: 80%;
}

figcaption span.credit:before {
  content: "[";
}

figcaption span.credit:after {
  content: "]";
}




/* code snippets */

code.block {
  display: inline-block;
  margin-right:100%;
  margin-left: 1em;
  margin-bottom: 1em;
}



/* notes */

p.note {
  font-size: 80%;
  margin-top: -0.7em;
}

p.note:before {
  content: "[" ;
}

p.note:after {
  content: "]" ;
}


