#multi-line-chart{width:100%;height:65vh;min-height:25rem;container-type:inline-size}
#multi-line-chart .window-rv{--chart-padding-right: 1rem}
.toolbar__opener {
    margin-right: 3em;
}
@media print {
    .toolbar__opener {
        display: none;
    }
    .toolbar__bar {
        display: none;
    }
    #multi-line-chart {
        width: 100%;
    }
    #tooltip-rv {
        display:none;
    }
}