#multi-line-chart{width:100%;height:65vh;min-height:25rem;container-type:inline-size}
#multi-line-chart .window-rv{--chart-padding-right: 1rem}

@media print {
    .toolbar__opener {
        display: none;
    }
    #multi-line-chart {
        width: 100%;
        height: 50vh !important; /* Maintain aspect ratio */
        margin-bottom: 1em;
    }
    #multi-line-chart svg {
        width: 100% !important; /* Ensure the SVG fills the page */

    }
}